<h1>テスト問題</h1>
<div class="student">
    <p><%= @student.name %></p>
    <p><%= @student.profile %></p>
    <p><%= @student.gtade %></p>
    <p><%= @student.mentor %></p>
    <p><%= @student.created_at %></p>
</div>

<%= link_to "編集する", edit_student_path(@student.id) %>
<%= link_to "投稿一覧に戻る", students_path %>
